.wrapper {
  --search-border-radius: 50px;
  // --color-hover-button:

  height: var(--default-layout-header-height);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  height: 80%;
  button {
    height: 100%;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    border: var(--search-border-radius);
    &:hover {
      cursor: pointer;
      // background-color: #f5f5f5;
      color: var(--primary);
    }
  }
}
.logo {
  h1 {
    background-color: var(--white);
    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }
}

.search {
  // line-height: 60px;
  width: 400px;
  height: 50%;
  background-color: #f5f5f5;
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;
  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    background-color: transparent;
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
  button {
  }
}

.clear {
}

.loading {
}

.search-btn {
  // padding-right: 16px;
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgb(22, 24, 35, 0.34);
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
