.scn-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #dafffe;
  .container {
    height: 100%;
    button {
      background-color: transparent;
    }
    img {
      height: 80px;
    }
  }
}
