@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900");

:root {
  --primary: #fe2c55;
  --default-layout-width: 1000px;
  --default-layout-header-height: 80px;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
